<configuration scan="true" scanPeriod="5 seconds">

    <!-- default development logger, unless overridden e.g. by test or production configuration -->
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-5level %logger %msg%n</pattern>
        </encoder>
    </appender>
	
	<!-- the application log levels -->
	<logger name="controllers" level="debug"/>
	<logger name="models" level="debug"/>
	<logger name="views" level="debug"/>
	
	<logger name="com.nappin.play.recaptcha" level="debug"/>
	
	<!-- default log levels for play and 3rd party libraries -->
	<logger name="play" level="info"/>
	<logger name="net.sf.ehcache" level="warn"/>
	<logger name="org.jboss.netty" level="warn"/>
	<logger name="com.google.inject" level="warn"/>
	
	<!-- set to debug to see WS http requests and responses -->
	<logger name="com.ning" level="debug"/>
	
	<!-- integration testing with htmlunit -->
	<logger name="com.gargoylesoftware.htmlunit" level="warn"/>
	<logger name="org.apache.http" level="warn"/>
	
	<!-- set to debug to see HTTP headers, requests and responses -->
	<logger name="org.apache.http.headers" level="warn"/>
	<logger name="org.apache.http.wire" level="warn"/>
	
	<root level="ALL">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>