@this(recaptchaField: recaptcha.recaptchaField)

@(userForm: Form[UserRegistration])(implicit messagesProvider: MessagesProvider, request: Request[AnyContent])

@main(Messages("exampleForm.title")) {

    <h1>@Messages("exampleForm.title")</h1>
    <p>@Messages("exampleForm.description")</p>
    
    @helper.form(action = routes.ExampleForm.submitForm()) {
        
        @helper.inputText(userForm("username"), 'tabindex -> 1)
        @helper.inputText(userForm("email"), 'tabindex -> 2)
        @helper.checkbox(userForm("agree"), 'tabindex -> 3)
        @recaptchaField(userForm, "captcha", tabindex = 4, includeNoScript = false, isRequired = true,
            'class -> "extraClass")

        <button type="submit" tabindex="5">@Messages("exampleForm.submit")</button>
    }
}
