@import helper._
@this(recaptchaField: recaptcha.recaptchaField, widgetHelper: com.nappin.play.recaptcha.WidgetHelper)

@(jsForm: Form[JavascriptRegistration])(implicit messagesProvider: MessagesProvider, request: Request[AnyContent])

@main(Messages("javascriptForm.title")) {

    <h1 id="title">@Messages("javascriptForm.title")</h1>
    <p id="feedback">@Messages("exampleForm.description")</p>

    @helper.form(action = routes.JavascriptForm.submitForm, Symbol("id") -> "jsform") {
        @helper.inputText(jsForm("username"), Symbol("id") -> "username", Symbol("tabindex") -> 1)
        @helper.inputText(jsForm("email"), Symbol("id") -> "email", Symbol("tabindex") -> 2)
        @helper.inputText(jsForm("age"), Symbol("id") -> "age", Symbol("tabindex") -> 3)
        @helper.checkbox(jsForm("agree"), Symbol("id") -> "agree", Symbol("tabindex") -> 4)
        @recaptchaField(jsForm, "captcha", tabindex = 5, includeNoScript = true, isRequired = true,
            Symbol("class") -> "extraClass")
        @CSRF.formField

        <button id="jsformButton" type="submit" tabindex="6">@Messages("exampleForm.submit")</button>
    }

    <script @Html(widgetHelper.outputNonce())>
    $(document).ready(function() {
      $("#jsform").submit(function(e){
        e.preventDefault();
      });

      $.ajax({
        type: 'GET',
        url: '@routes.JavascriptForm.load',
        dataType: 'json',
        timeout: 5000,
        success: function(response, status, xhr) {
          // populate the form
          $("#username").val(response["username"]);
          $("#email").val(response["email"]);
          $("#age").val(response["age"]);
          $("#agree").val([response["agree"]]); // array of matching checkbox values
        },
        error: function(xhr, status, response) {
          alert("Error loading data to populate the form: " + response);
        }
      });

      $("#jsformButton").click(function(e){
        var formData = {
          username: $("#username").val(),
          email: $("#email").val(),
          age: $("#age").val(),
          agree: $("#agree").is(":checked"),
          "g-recaptcha-response": $("#g-recaptcha-response").val()
        }

        var tokenValue = $("[name='csrfToken']").val();

        $.ajax({
          type: 'POST',
          url: '@routes.JavascriptForm.submitForm',
          contentType: 'application/json',
          headers: { "Csrf-Token": tokenValue },
          data: JSON.stringify(formData),
          dataType: 'json',
          timeout: 5000,
          success: function(response, status, xhr) {
            // replace form with results message
            $("h1#title").text(response["title"]);
            $("p#feedback").text(response["feedback"]);
            $("form#jsform").remove();
          },
          error: function(xhr, status, response) {
            var errorMessages = $.parseJSON(xhr.responseText)

            $("form#jsform > dl").each(function(n) {
              // Play field name is the id but without the "_field" suffix
              var fieldname = this.id.slice(0, this.id.length - 6);

              if (errorMessages[fieldname]) {
                // add error message for the field
                $(this).append("<dd class='error'>" + errorMessages[fieldname][0] + "</dd>");
              } else {
                // no longer an error with this field
                $("#" + this.id + " > dd.error").remove();
              }
            });
          }
        });
      });
    });
    </script>
}
